.facebook{
    display: flex;
padding: 96px 0;
justify-content: start;
.img{
    
   img{
    max-width: 395px;
    height: 395px;
   }
}
}
.facebook2{
    display: flex;
    align-items: center;
    justify-content: space-between;
     
    
     
}
.lorem{

    background-color: $bacround-head-Simple;
    padding: 48px 80px 0 160px;
    border-radius: 12px;
    height: 385px;

    justify-content: start;
    transform: translateX(-77px);
    z-index: -1;

    p{
        width: 731px;
        font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 120%;
color: $color-p;
margin-bottom: 48px;

    }
    img{
        max-width: 156px;
    }
}
.john{
    display: flex;
    flex-direction: column;
    gap: 10px;
    h4{
        font-size: 20px;
        font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        margin-bottom: 10px;
    }
}
.icon{
    display: flex;
gap: 16px;
}