*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
ul{
    list-style: none;
}
button{
    border: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
body{
    overflow-x: hidden;
}
