.text{
    display: flex;
justify-content: space-between;
padding: 112px 0px;
}
.developer{
   
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;


    h4{
        font-family: 'Space Grotesk', sans-serif;
        font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 120%;
color: $color-h;
    }
    p{
        font-family: 'Space Grotesk', sans-serif;
        text-align: center;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 120%;
color: $color-p;
    }
}
