$color-blue:blue;
$color-span:#9FCDFF;
$color-white:white;
$color-h:#2B2828;
$color-a:#434959;
$color-p:#505056;
$bacround-head-Simple:#f8f9ff;
$inbox-bacround:#2a2b2e;
$color-btn:#007AFF;
$dowload:#fff;
$latset:#000;
$footer:#0F172A;
$footer-a:#E4E4E7;
$footer-span:#1E293B;